{
  "presets": [
    "latest",
    "react",
    "stage-2"
  ],
  "plugins": ["react-hot-loader/babel"],
  "ignore": ["node_modules/"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
